<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div
      class="vh-100 d-flex flex-column align-items-center justify-content-center p-5 gap-3"
    >
      <div class="container-fluid shadow-lg p-5 rounded">
        <h3 class="text-center text-uppercase">
          Registrazione animale di compagnia
        </h3>
        <form class="d-flex flex-column gap-3" method="POST" action="/pets">
          <div class="form-group">
            <label for="name" class="form-label">Nome</label>
            <input type="text" id="name" class="form-control" name="name" />
          </div>
          <div class="form-group">
            <label for="name" class="form-label">Tipo</label>
            <input
              type="text"
              id="petType"
              class="form-control"
              name="petType"
            />
          </div>
          <div class="form-group">
            <label for="name" class="form-label">Razza</label>
            <input
              type="text"
              id="petRace"
              class="form-control"
              name="petRace"
            />
          </div>
          <div class="form-group">
            <label for="name" class="form-label">Data di nascita</label>
            <input type="date" id="dob" class="form-control" name="dob" />
          </div>
          <button class="btn btn-primary" id="form__button">Invia</button>
        </form>
      </div>
      <a href="/pets">Vai alla lista</a>
    </div>
    <script></script>
  </body>
</html>
